# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
gradle.zip
gradle-bin/
.idea/
*.iml
.cxx/

# OS
.DS_Store
Thumbs.db
